[{oacd_core, [
	{nodes, ['openacd@oucxdev.ezuce.com']}	
	, {console_loglevel, info}
	, {logfiles, [{"/tmp/openacd.log", debug}]}
	, {plugins, [oacd_freeswitch, sipxplugin, oacd_web, oacd_tcp, oacd_ouc]}
	, {agent_auth_storage, spx_agent_auth}
	, {call_queue_config_storage, spx_call_queue_config}
]},
{sasl, [
	{errlog_type, error} % disable SASL progress reports
]},
{oacd_freeswitch, [
	{freeswitch_node, 'freeswitch@oucxdev.ezuce.com'},
	{cpx_managed, true}
]},
{oacd_web, [
	{cpx_managed, true}
]},
{oacd_tcp, [
	{cpx_managed, true}
]}
].
